.deduplication-app * {
  font-family: 'sans-serif' !important;
}

.deduplication-app > * {
  margin: 10px 0;
}

.deduplication-app input {
  width: 55px;
}

.deduplication-app textarea {
  display: block;
  width: 100%;
  height: 200px;
  opacity: 1;
  cursor: default;
}

.deduplication-app button {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
}
